:root{
    --num-squares: 4;
}
.container{
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 500px;
    grid-auto-flow: wrap;
    justify-content: center;
    align-items: center;
}
.header{
    font-size: 32px;
    text-align: center;
}
.grid{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: repeat(var(--num-squares), calc(500px / var(--num-squares)));
    grid-template-rows: repeat(var(--num-squares), calc(500px / var(--num-squares)));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-self: center;
    border-style: solid;
}
.footer{
    display: grid;
    justify-content: center;
    gap: 5px;
}
#reset{
    width: 100%;
}
.square{
    border-style: dashed;
    border-color: black;
    border-width: thin;
    height: auto;
    width: auto;
}
.filled{
    background-color: gray;
}